body {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.buttons {
  display: flex;
  margin-bottom: 25px;
}

button {
  width: 100px;
  height: 50px;
  background-color: green;
  border-radius: 5px;
  color: white;
  margin: auto;
}

img {
  height: 175px;
  width: 175px;
  margin: auto;
}

#block {
  background-color: red;
}
